* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    ;
}

body {
    background-color: rgb(239, 239, 239);
    padding: 100px;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

img {
    height: 36px;
    margin-right: 16px;
}

head h1 {
    font-size: 40px;
    font-weight: bold;
}

.container {
    max-width: flex;
    max-width: 640px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 56px;
}

form input {
    border: none;
    border-bottom: 0.5px solid #000;
    padding: 2px;
}

button {
    border-radius: 8px;
}

form button {
    font-size: 12px;
    font-weight: bold;
    padding: 8px;
    border: 0.5px solid #000;
    cursor: pointer;

}

table th {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
}

table td {
    padding: 8px 0px;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}